body {
  font-family: "Lato", sans-serif;
  font-size: 10.5pt;
  font-weight: 400;
  color: #f0f0f0;
  background-color: #252525;
  max-width: 55rem;
  margin: 0 auto;
}

h1 {
  font-size: 16pt;
  font-weight: 300;
  color: #fafafa;
  text-transform: uppercase;
  margin: 0 0 4pt;
}

h2 {
  font-size: 12pt;
  font-weight: 700;
  color: #ffc22f;
  text-transform: uppercase;
  margin: 0 0 2pt;
}

.descript {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  font-weight: 500;
  color: #ffc22f;
  text-transform: uppercase;
  margin: 0 0 2pt 0pt;
}

.location {
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  font-weight: 700;
  color: #fafafa;
  margin: 0 0 2pt;
}

.sectionsep {
  margin: 0 auto 16pt;
}

p {
  margin: 0 0 0pt;
}

.section {
  margin: 0 0 16pt;
}

ul {
  margin: 0 auto 4pt;
}

ul li {
  padding-bottom: 2pt;
}

.container {
  /* border: 2px solid green; */
  margin: 0 auto;
  padding: 0.3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
}

.heading {
  /* border: 2px dotted white; */
  margin: 0 auto;
  padding: 0.3rem;
  text-align: center;
  position: relative; /* This is a hack to show last-update inside the heading div */
}

.heading .name {
  /* border: 2px dotted red; */
  margin: 0.5rem 0 0.5rem;
  font-size: 40pt;
  font-weight: 300;
  text-align: center;
  line-height: 36pt;
}

.heading .details {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 11pt;
}

.line {
  border-top: 0.4pt solid #999999;
  margin-top: 1rem;
}

.left {
  /* border: 4px brown dotted; */
  flex: 1 1 16rem;
  padding: 8pt 8pt 0;
}

.right {
  /* border: 4px brown dotted; */
  flex: 3 1 30rem;
  padding: 8pt 8pt 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.skills {
  /* border: 2px dotted white; */
  list-style: none;
  padding: 0;
  margin-bottom: 10pt;
}

.skills-li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 12rem;
}

.grade1,
.grade2,
.grade3,
.grade4,
.grade5 {
  /* border: 2px dotted blue; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.circle {
  width: 0.6rem;
  height: 0.6rem;
  background: #ffc22f;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.grade1 .circle:nth-child(n + 2) {
  background: #cacaca;
}

.grade2 .circle:nth-child(n + 3) {
  background: #cacaca;
}

.grade3 .circle:nth-child(n + 4) {
  background: #cacaca;
}

.grade4 .circle:nth-child(n + 5) {
  background: #cacaca;
}

.last-update {
  position: absolute;
  right: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 8pt;
  color: #cecece;
}

@media only screen and (max-width: 600px) {
  .last-update {
    display: none;
  }
}

/* This keeps a icon in a single line */
.details-icons {
  white-space: nowrap;
}

.footer {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 8pt;
  color: #cecece;
  text-align: center;
  margin: 10pt 0 15pt;
}

.misc {
  padding: 0;
}

.misc li {
  list-style: none;
  padding: 0 0 4pt;
}
