.container {
  height: 500px;
  border: 2px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: strech;
}

.left {
  border: 4px brown dotted;
  background-color: red;
  flex: 1 0 16rem;
}

.right {
  border: 4px brown dotted;
  background-color: blue;
  flex: 3 0 30rem;
}
