body {
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  font-weight: 400;
  color: #f0f0f0;
  background-color: #252525;
  max-width: 60rem;
  margin: 0 auto;
}

h1 {
  font-size: 16pt;
  font-weight: 300;
  color: #fafafa;
  text-transform: uppercase;
  margin: 0 0 4pt;
}

h2 {
  font-size: 12pt;
  font-weight: 700;
  color: #ffc22f;
  text-transform: uppercase;
  margin: 0 0 2pt;
}

.descript {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
  font-weight: 500;
  color: #ffc22f;
  text-transform: uppercase;
  margin: 0 0 2pt 0pt;
}

.location {
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  font-weight: 700;
  color: #fafafa;
  margin: 0 0 2pt;
}

.sectionsep {
  margin: 0 auto 16pt;
}

p {
  margin: 0 0 0pt;
}

.section {
  margin: 0 0 16pt;
}

ul {
  margin: 0 auto 4pt;
}

ul li {
  padding-bottom: 2pt;
}

.container {
  margin: 0 auto;
  padding: 0.3rem;
  border: 2px solid green;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
}

.heading {
  margin: 0 auto;
  padding: 0.3rem;
  border: 2px dotted white;
}

.heading p {
  /* border: 2px dotted red; */
  color: #f0f0f0;
  font-size: 40pt;
  font-weight: 300;
  text-align: center;
}

.left {
  border: 4px brown dotted;
  /* background-color: red; */
  flex: 1 1 16rem;
  padding: 8pt;
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: flex-start; */
}

.right {
  /* border: 4px brown dotted; */
  /* background-color: blue; */
  flex: 3 1 30rem;
  padding: 8pt;
}

a {
  text-decoration: none;
  color: inherit;
}

.skills {
  /* border: 2px dotted white; */
  list-style: none;
  padding: 0;
  margin-bottom: 10pt;
}

.skills-li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 12rem;
}

.grade1,
.grade2,
.grade3,
.grade4,
.grade5 {
  /* border: 2px dotted blue; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.circle {
  width: 0.6rem;
  height: 0.6rem;
  background: #ffc22f;
  border-radius: 50%;
  margin-right: 0.3rem;
  display: inline-block;
}

.grade1 .circle:nth-child(n + 2) {
  background: #cacaca;
}

.grade2 .circle:nth-child(n + 3) {
  background: #cacaca;
}

.grade3 .circle:nth-child(n + 4) {
  background: #cacaca;
}

.grade4 .circle:nth-child(n + 5) {
  background: #cacaca;
}
